#head{
    text-align: center;
}
#head1{
    text-align: center;
}

#body{
    color: black;
    background-color: #52d2d2;
}
#body1{
    background-color: #fff;
    margin:30px 200px 30px 200px;
    border-radius: 8px;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    }
.tab{
    color: floralwhite;
}
#img1{
    height:400px;
    width: 100%;
}
#id1{
    color:#fff;
    font-size: 50px;
    position : absolute;
    top: 40%;
    left:30%;
}
#id2{
    color:#fff;
    font-size: 20px;
    position : absolute;
    top: 55%;
    left:40%;
}
#id3{
   background-color:green;
    color:#fff;
    position : absolute;
    top: 65%;
    left:45%;
}
.image-item{
    height: 200px;
    width: 600px;
    border-radius: 8px;
    padding:20px;
}
#para{
    text-align: center;
}
.btn2{
    text-align: center;
    background-color: green;
    color: -webkit-link;
    text-decoration: underline;
    margin-left:450px ;
}

/*abot page*/
#about{
    background-color: #52d2d2;
    color: black;
}
#about1{
    background-color: #fff;
    margin:30px 200px 30px 200px;
    border-radius: 8px;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}
#ahead{
    text-align: center;
    font-size: 30px;
    color:#007bff;
}
/*course page*/
#course{
    background-color: #52d2d2;
    color: black;
}
#course1{
  background-color: #fff;
  margin:30px 200px 30px 200px;
   border-radius: 8px;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;  
}
#table{

    padding: 12px;
}
#para1{
    text-align: center;
    font-size: 24px;
    
}
#chead{
    text-align: center;
    color: #007bff;
    font-size: 50px;
}
#contact{
    background-color: green;

}
.course-video{
    height: 500px;
    width: 900px;
}
#v1{
    height:500px;
    width:1000px;
    border-radius: 8px;
}
/*contact page*/
#contact{
    background-color: #52d2d2;
    color: black;
}
#contact1{
    background-color: #fff;
     margin:30px 200px 30px 200px;
    border-radius: 8px;
    justify-content: center;
    align-items: flex-start;
    padding:110px;  
}
#cnt{
    background-color: green;
    margin-left: 450px;
    height:100px;
    width:100px;
    padding:15px 20px;
    border-radius: 7px;
}
#admission{
    background-color: #52d2d2;
    color: black;
}
.tab1{
    color: black;
}
#head2{
    color:#007bff;
    text-align: center;
    font-size: 50px;
}