#main{
  background-color:#007bff ;
  height: 40px;
  color: floralwhite;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  
}
#navbar{
  color:floralwhite;
  padding: 15px 20px;
  display:flex;
  justify-content: center;
  gap: 50px;
}
#btn1{
  background-color: green;
  height: 60px;
  text-align: center;
  padding: 5px 10px;
}
#main{
    font-size: 20px;
}

    
